            body {
                background-color: white;
                background-image: url("https://blog.biletino.com/file/2022/12/atakule-biletino-blog-ankara-24323.jpg");
                background-repeat:no-repeat;
                background-attachment:fixed;
                background-size:cover;
                background-position:center;

            }

            #btn_class {
                color: rgb(241, 225, 225);
                display: block;
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
            }

            #cv {
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
                width: 450px;
                height: 300px;
            }

            p{
                color: rgb(241, 225, 225);
            }