        body {
            background-color: white;
                background-image: url("https://blog.biletino.com/file/2022/12/atakule-biletino-blog-ankara-24323.jpg");
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:cover;
            background-position:center;

        }

        #btn_class {
            color: rgb(241, 225, 225);
            display: block;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }

        .tablo{
            color: rgb(241, 225, 225);
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .tabloSatir{
            color: rgb(241, 225, 225);
            width: 100px;
        }
		
		#baslik{
            color: rgb(241, 225, 225);
            display: block;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
		}
		
		.driver{
            color: rgb(241, 225, 225);
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:150px;
		}


