            body {
                background-color: white;
                background-image: url("https://blog.biletino.com/file/2022/12/atakule-biletino-blog-ankara-24323.jpg");
                background-repeat:no-repeat;
                background-attachment:fixed;
                background-size:cover;
                background-position:center;

            }

            #btn_class {
                color: black;
                display: block;
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
            }

            .bilgiNotu{
                color: rgb(241, 225, 225);
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 30%;
                font-size:25px;
            }

            p{
                color: rgb(241, 225, 225);
                margin-bottom: 75px;
                width:80%;
            }

            #image_div {
                display: block;
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }

            .image{
                color: black;
                display: block;
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                width:15%;
                height:15%;
            }