body {
    background-color: white;
    background-image: url("anitkabirDuvar.jpg");
    background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center;

}

#baslik {
    margin-top: 30px;
}

#btn_class {
    color: black;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#txt_bilgiler {
    color: black;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 250px;
}

#image2_bilgiNotu{
    color:black;
    margin-bottom:150px;
}

#image_2 {
    font: 19px sans-serif;
    margin: 0px auto;
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
}

#kontrol {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

#kontrol a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-decoration: none;
}